<div class="row">
  <div class="col-xs-12 col-md-8 col-centered">
    <ul id=<%= task_id %> class="task_list" data-update-url="<%= sort_tasks_url %>">
      <% tasks.each do |task| %>
        <%= content_tag_for :li, task do %>
          <%= best_in_place task, 
               :completed, 
               type: :checkbox, 
               classes: 'task_checkbox',
               collection: [raw("<i class='glyphicon glyphicon-unchecked'></i>"), 
                            raw("<i class='glyphicon glyphicon-check'></i>")] %>
            
          <%= best_in_place task, :description, { :classes => "pre_input_field", :inner_class => "input_field" } %>

          <div class="control_bin">
            <%= link_to '', task, method: :delete, 
                                data: { confirm: 'Are you sure?' }, 
                                class: "destroy-btn glyphicon glyphicon-trash" %>
            <i class="glyphicon glyphicon-move handle"></i>
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>