<!DOCTYPE html>
<html>
<head>
  <title>Prioriter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta property="og:type"   			content="website" /> 
  <meta property="og:url"    			content="<%= "http://prioriter.herokuapp.com" %>" /> 
  <meta property="og:title"  			content="Zen the sh*t out of your to-do list with Prioriter" /> 
  <meta property="og:description" content="Prioriter is a free, no-frills to-do list. Take away all the bells and whisltles and productivity is what is left." /> 
  <meta property="og:image"  			content="https://s3.amazonaws.com/prioriter/business_girl.jpg" /> 
</head>
<body>

	<div class="container">
		<%= render 'layouts/header' %>
	</div>	
	<%= yield %>
	

</body>
</html>
